html {
  background-color: #a34002;
  font-family: 'Times New Roman', Times, serif;
}

::selection {
  color: #a34002;
  background-color: white;
}

/* styles for index.html */
header {
  min-height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-main {
  margin-top: 20px;
  padding-right: 10px;
}

.header-photo {
  max-width: 300px;
}

h1 {
  font-size: 60px;
  color: #f5f3f2;
}

h2 {
  font-size: 25px;
  margin-top: 20px;
  color: #f5f3f2;
  font-family: 'Baloo Tamma 2', cursive;
}

body {
  text-align: center;
  margin: 10px;
}

.main-img {
  margin: 0 auto;
  width: 85%;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #a34002;
  border: none;
  margin-top: 5px;
}

.image-overlay {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-overlay-text {
  color: black;
}

.salmon {
  padding: 20px;
}

.image-overlay-text {
  padding: 5px;
  padding-top: 10px;
  background-color: #fff;
  opacity: 70%;
}

article.images > img {
  height: 200px;
  width: 200px;
  max-height: 100%;
  padding: 20px;
}

footer {
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-header {
  display: block;
}
.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locations > li {
  padding: 20px;
}

.locations > li > h3 {
  font-weight: bold;
}

/* styles for sales.html*/

.home {
  text-decoration: none;
}
form {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

input {
  margin-right: 30px;
  margin-top: 10px;
}

button.submit {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  color: #a34002;
  font-weight: bold;
}

fieldset {
  margin: 0 auto;
  width: 80%;
}

table {
  background-color: #dbd8d7;
}

table,
th,
td {
  border-collapse: collapse;
  border: 3px solid black;
  margin: 0 auto;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  height: 50px;
  width: 50px;
}

th:last-child {
  width: 100px;
}

td:first-child {
  font-weight: bold;
}

th,
td:first-child {
  color: #a34002;
}

tbody > tr:hover {
  background-color: #a34002;
  color: white;
}

tbody > tr:hover > td:first-child {
  color: black;
}
